head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //-linked fonts, styles. etc.
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,700,800|Play:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext', rel='stylesheet')
    link(rel='stylesheet', href='../css/main.min.css')
    title MagicLine